* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --scissorsGradient1: hsl(39, 89%, 49%);
    --scissorsGradient2: hsl(40, 84%, 53%);
    --paperGradient1: hsl(230, 89%, 62%);
    --paperGradient2: hsl(230, 89%, 65%);
    --rockGradient1: hsl(349, 71%, 52%);
    --rockGradient2: hsl(349, 70%, 56%);
    --lizardGradient1: hsl(261, 73%, 60%);
    --lizardGradient2: hsl(261, 72%, 63%);
    --Cyan1: hsl(189, 59%, 53%);
    --Cyan2: hsl(189, 58%, 57%);
    --darkText: hsl(229, 25%, 31%);
    --scoreText: hsl(229, 64%, 46%);
    --headerOutline: hsl(217, 16%, 45%);
    --backgroundRadialGradient1: hsl(214, 47%, 23%);
    --backgroundRadialGradient2: hsl(237, 49%, 15%);
    --fontFamily: Barlow Semi Condensed;
}

.imageSection {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    &:hover {
        cursor: pointer;
    }
}

.animation {
    animation: scaleAnimation 1s infinite;
}

body {
    min-height: 100vh;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, var(--backgroundRadialGradient1), var(--backgroundRadialGradient2));
    user-select: none;
}

main {
    font-family: var(--fontFamily);
    width: 100%;
    min-height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

#scoreBoard {
    width: 60%;
    border: 3px solid var(--headerOutline);
    border-radius: 10px;
    margin-bottom: 80px;

    .gameName {
        color: white;
        width: 20%;
        line-height: 90%;
        font-size: 30px;
        font-weight: bold;
    }

    .imageSection {
        width: 15%;
        height: 100%;
    }
}

#paperBox {
    outline: 20px solid var(--paperGradient1);
}

#scissorsBox {
    outline: 20px solid var(--scissorsGradient1);
}

#rockBox {
    outline: 20px solid var(--rockGradient1);
}

#chooseOneContainer {
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 80px;

    .bgImage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
    }

    .upperOptions {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .lowerOptions {
        width: 100%;
    }

    .optionBox {
        width: 30%;
        aspect-ratio: 1/1;
        background-color: white;
        border-radius: 50%;
        z-index: 1;
        box-shadow: inset 0px -5px 1px rgba(52, 52, 52, 0.459);
        transition: transform 0.2s linear;

        .imageSection {
            width: 45px;
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}

#choosedContainer {
    min-width: 60%;
    gap: 20px;
    display: none;

    .playerContainer {
        width: 50%;
        flex-direction: column;
        gap: 70px;

        .playerTitle {
            color: white;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
        }

    }

    #statusContainer {
        width: 50%;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        visibility: hidden;

        #status {
            color: white;
        }
    }

    .choosedBox {
        width: 50%;
        aspect-ratio: 1/1;
        background-color: white;
        border-radius: 50%;
        z-index: 1;
        box-shadow: inset 0px -5px 1px rgba(52, 52, 52, 0.459);

        .imageSection {
            width: 60px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    #circle {
        width: 50%;
        aspect-ratio: 1/1;
        background-color: black;
        border-radius: 50%;
        opacity: 15%;

    }
}

.playAgainBtn {
    font-family: var(--fontFamily);
    width: 90%;
    background-color: white;
    color: var(--darkText);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;

    &:hover {
        color: var(--rockGradient1);
    }
}

#mobileStatusContainer {
    width: 70%;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    display: none;

    #mobileStatus {
        color: white;
        text-transform: uppercase;

    }
}

.buttonContainer {
    font-family: var(--fontFamily);
    position: absolute;
    bottom: 20px;
    width: 90%;
    display: flex;
    justify-content: end;

    #rulesBtn {
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px;
        width: 10%;
        background-color: transparent;
        color: white;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 2px;
    }
}

.rulesContainer {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.514);
    z-index: 1;

    .rules {
        width: 25%;
        background-color: white;
        padding: 20px;
        border-radius: 10px;

        .rulesHeader {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;

            .rulesTiltle {
                color: var(--darkText);
            }

            #crossBtn {
                width: 30px;
                aspect-ratio: 1/1;
            }
        }

        .rulesImage {
            padding: 20px;
        }
    }
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media(max-width: 1025px) and (min-width: 550px) {
    #scoreBoard {
        width: 100%;
        margin-bottom: 30px;

        .gameName {
            width: 10%;
            line-height: 90%;
            font-size: 20px;
        }

        .imageSection {
            width: 10%;
        }
    }

    #chooseOneContainer {
        width: 50%;
        gap: 50px;
    }

    #choosedContainer {
        min-width: 100%;
    }

    .buttonContainer {
        #rulesBtn {
            width: 15%;
            font-size: 10px;
        }
    }

    .rulesContainer {
        .rules {
            width: 40%;
        }
    }
}

@media (max-width: 550px) {
    #scoreBoard {
        width: 100%;
        margin-bottom: 40px;

        .gameName {
            width: 10%;
            line-height: 90%;
            font-size: 10px;
        }

        .imageSection {
            width: 10%;
        }
    }

    #chooseOneContainer {
        width: 90%;
        gap: 50px;

        .optionBox{
            .imageSection{
                width: 40px;
            }
        }
    }

    #choosedContainer {
        min-width: 100%;
        padding: 0;
        gap: 0px;

        #statusContainer{
            display: none;
        }

        .playerContainer{
            .playerTitle{
                font-size: 15px;
                margin-bottom: 10px;
            }
        }

        .choosedBox{
            .imageSection{
                width: 40px;
            }
        }
    }

    #paperBox {
        outline: 10px solid var(--paperGradient1);
    }
    
    #scissorsBox {
        outline: 10px solid var(--scissorsGradient1);
    }
    
    #rockBox {
        outline: 10px solid var(--rockGradient1);
    }

    #mobileStatusContainer {
        display: none;
        margin-top: 50px;
    }

    .buttonContainer {
        justify-content: center;

        #rulesBtn {
            width: 30%;
            font-size: 10px;
        }
    }

    .rulesContainer { 
        .rules {
            width: 100%;
            height: 100vh;
            border-radius: 0;

            .rulesHeader{
                margin-top: 30px;
            }
            
            .rulesImage{
                margin-top: 100px;
            }
        }
    }
}